// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif:  'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #3d3bff;
$success: #14b8a6;

:root {
    --header-height : 55px;
    --font-family: $font-family-sans-serif;
    --primary-color: #3d3bff;

    /*index*/
    --index-header: 900;
    --index-modal: 1000;

    /*bg*/
    --button-bg: #f5f5f5;
    --button-bg-second: #f5f5f5;
    --body-bg: #fff;
    --body-bg-secondary: #fff;

    /*colors*/
    --brand-color:#3d3bff;
    --main-color: #000;
    --border-button-color: #b8b8b8;
    --border-color: #b8b8b8;
    --border-color-two: #949494;
    --navbar-color: var(--brand-color);
}

:root .dark {
    /*bg*/
    --button-bg: #2B2E33;
    --button-bg-second: #4f5864;
    --body-bg: #171d23;
    --body-bg-secondary: #2B2E33;
    /*colors*/
    --main-color: #fff;
    --border-color: #2B2E33;
    --border-button-color: #fff;
    --navbar-color: var(--main-color);
}
