// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root {
    --index-header: 900;
    --index-sidebar: 950;
    --index-modal: 1000;
    --header-height: 55px;
    --font-family: $font-family-sans-serif;
    --primary-color: #3d3bff;
    --primary-50: #f5f5ff;
    --primary-100: #e0e0ff;
    --primary-200: #ccccff;
    --primary-300: #b7b7ff;
    --primary-400: #a3a3ff;
    --primary-500: #8f8fff;
    --primary-600: #7a7aff;
    --primary-700: #6666ff;
    --primary-800: #5151ff;
    --primary-900: #3d3dff;
    --topbar-sticky-bg: hsla(0,0%,100%,.7);
}

:root .dark {
    --topbar-sticky-bg: #18181b;
    --primary-color-text: #020617;
    --text-color: #ffffff;
    --text-color-secondary: #a1a1aa;
    --surface-0: #18181b;
    --surface-50: #27272a;
    --surface-100: #3f3f46;
    --surface-200: #52525b;
    --surface-300: #71717a;
    --surface-400: #a1a1aa;
    --surface-500: #d4d4d8;
    --surface-600: #e4e4e7;
    --surface-700: #f4f4f5;
    --surface-800: #fafafa;
    --surface-900: #ffffff;
    --gray-0: #ffffff;
    --gray-50: #fafafa;
    --gray-100: #f4f4f5;
    --gray-200: #e4e4e7;
    --gray-300: #d4d4d8;
    --gray-400: #a1a1aa;
    --gray-500: #71717a;
    --gray-600: #52525b;
    --gray-700: #3f3f46;
    --gray-800: #27272a;
    --gray-900: #18181b;
    --content-padding: 1.125rem;
    --inline-spacing: 0.5rem;
    --border-radius: 6px;
    --surface-ground: #09090b;
    --surface-section: #18181b;
    --surface-card: #18181b;
    --surface-overlay: #18181b;
    --surface-border: #27272a;
    --surface-hover: rgba(255, 255, 255, 0.03);
    --focus-ring: none;
    --maskbg: rgba(0, 0, 0, 0.4);
    --highlight-bg: rgba(52, 211, 153, 0.16);
    --highlight-text-color: rgba(255, 255, 255, 0.87);
    --p-anchor-gutter: 2px;
}
