// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/bootstrap-reboot";

$utilities: map-merge(
        $utilities,
        (
            "cursor": (
                property: cursor,
                values: auto default pointer wait text move help not-allowed,
            ),
        )
);
$utilities: map-merge(
        $utilities, ( "width": map-merge(
            map-get( $utilities, "width"), ( responsive: true ),),)
);


@import "bootstrap/scss/bootstrap";


//primeVue
@import "primevue/resources/themes/aura-light-purple/theme.css";
@import 'primevue/resources/primevue.min.css';
@import "primeicons/primeicons.css";

// Style
@import "style";
