.bg-success {
    background-color: #2dce89 !important;
}

h1, h2, h3, h4, h5, h6 ,p, .label, label {
    color: var(--surface-900);
    margin: 0;
}

//.content {
//    padding: 40px;
//    border-radius: 15px;
//    background-color: var(--body-bg-secondary);
//    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
//}

ul,
ol {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.cursor-none {
    pointer-events: none;
    user-select: none;
}

.p-panel, .p-breadcrumb {
    border: 1px solid var(--surface-border);
    background-color: var(--surface-card)
}

.p-card {
    border: 1px solid var(--surface-border);
    background-color: var(--surface-card)
}

.p-panel {
    .p-panel-title {
        color: var(--surface-700);
    }
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
    background-color: var(--primary-color)
}

.p-tabview  {
    .p-tabview-nav {
        color: var(--surface-700);
        background-color: var(--surface-card);
    }
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link{
    background-color: var(--surface-card);
}

.p-tabview .p-tabview-panels {
    background-color: var(--surface-card);
}

.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
    color: var(--surface-900);
}

.p-breadcrumb .p-breadcrumb-list li.p-menuitem-separator {
    color: var(--text-color-secondary);
}

.p-button {
    color: #fff;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.p-button-link {
    color: var(--primary-color);
    background: transparent;
    border: 1px solid transparent;
}

.p-button-success {
    color: #ffffff;
    background: #10b981;
    border: 1px solid #10b981;
}

.p-button-danger {
    color: #ffffff;
    background: #ef4444;
    border: 1px solid #ef4444;
}

.p-inputtext {
    color: var(--surface-900);
    background-color: var(--surface-hover);
    border: 1px solid var(--surface-border);

    &::-webkit-input-placeholder {
        color: var(--text-color-secondary);
    }

    &:-moz-placeholder {
        color: var(--text-color-secondary);
    }

    &::-moz-placeholder {
        color: var(--text-color-secondary);
    }

    &:-ms-input-placeholder {
        color: var(--text-color-secondary);
    }
}

.p-checkbox.p-highlight .p-checkbox-box {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.p-inputtextarea {
    color: var(--surface-900);
    border: 1px solid var(--surface-border);
    background-color: var(--surface-hover);
}

.p-dialog {
    color: var(--surface-900);
    border: 1px solid var(--surface-border);
    background-color: var(--surface-overlay);
    .p-dialog-header, .p-dialog-content {
        color: var(--surface-900);
        background-color: var(--surface-overlay);
    }
    .p-dialog-header-close {
        color: var(--surface-900);
        &:hover {
            background-color: var(--surface-hover);
        }
    }
}

.border-bottom {
    border-bottom: 1px solid var(--surface-border) !important;
}

.p-toolbar {
    border: 1px solid var(--surface-border);
    background-color: var(--surface-overlay);
}

.p-datatable   {
    .p-datatable-tbody > tr ,
    .p-datatable-thead > tr > th
    {
        color: var(--surface-900);
        background-color: var(--surface-overlay);
    }
    .p-paginator {
        background-color: var(--surface-overlay);
        .p-paginator-pages .p-paginator-page.p-highlight {
            color: var(--surface-900);
            background-color: var(--surface-hover);
        }
        .p-paginator-pages .p-paginator-page:hover {
            color: var(--surface-900);
            background-color: var(--surface-hover);
        }
        .p-link:hover {
            color: var(--surface-900);
            background-color: var(--surface-hover);
        }
        .p-dropdown-label {
            padding-right: 10px;
        }
    }
    .p-progressbar .p-progressbar-value {
        background: var(--primary-color)
    }
    .p-sortable-column.p-highlight .p-sortable-column-icon {
        color: var(--primary-800);
    }
    .p-column-filter-menu-button:hover {
        color: var(--primary-800);
        background: var(--surface-hover);
    }
    .p-column-filter-menu-button.p-column-filter-menu-button-open, .p-column-filter-menu-button.p-column-filter-menu-button-open:hover {
        color: var(--primary-800);
        background: var(--surface-card);
    }
}
.p-column-filter-overlay {
    color: var(--surface-900);
    background-color: var(--surface-card);
    border: 1px solid var(--surface-border)
}
.p-column-filter-constraint {
    .p-inputtext {
        color: var(--surface-900);
        background: var(--surface-hover);
        border: 1px solid var(--surface-border)
    }
}
.p-column-filter-operator {
    background-color: var(--surface-overlay);
}

.p-dropdown, .p-menu {
    background-color: var(--surface-overlay);
    border: 1px solid var(--surface-border);
    box-shadow: none;

}

.p-dropdown-label {
    padding: 0.5rem 0.75rem;
}

.p-dropdown-trigger {
    background-color: var(--primary-color);
    color: #fff;
}

.p-dropdown-item, .dropdown-item {
    background-color: var(--surface-overlay);
    color: var(--surface-900);
}

.p-dropdown-items {
    background-color: var(--surface-overlay);
}

.p-dropdown-panel {
    border: 1px solid var(--surface-border);
}

.p-dropdown-item.p-highlight {
    background-color: var(--primary-color) !important;
    color: #fff;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background-color: var(--primary-color) !important;
    color: #fff;
}

.p-dropdown-item.p-focus {
    background-color: var(--primary-color) !important;
    color: #fff;
}

.p-inputgroup {
    .p-button-icon-only {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}

.dropdown-item:hover {
    background-color: var(--primary-color) !important;
    color: #fff;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    transition: background-color 0s;
    border-radius: 0;
    border-color: var(--surface-border);
}
.p-tabview .p-tabview-nav {
    background: var(--surface-card);
    border-color: var(--surface-border);
}

.p-tabview .p-tabview-ink-bar {
    background-color: var(--primary-color) !important;
}
.p-tabview-panel,.p-accordion-header-link,.p-accordion-content {
    background: var(--surface-card);
}
.p-panel-header-icon,.p-accordion-toggle-icon {
    color:var(--surface-900)
}

.p-accordion-tab {
    border-color: var(--surface-border);
}

.radius-right {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.p-inputgroup-addon {
    background-color: var(--surface-overlay);
    border-color: var(--surface-border);
}

.p-datatable-header {
    background-color: var(--surface-overlay);
    border-color: var(--surface-border);
}

.color-white {
    color: #fff;
}

.text-color {
    color: var(--surface-900)
}

.text-primary {
    color: var(--primary-color) !important;
}

.bg-teal-500 {
    background-color: var(--teal-500) !important;
}

.p-multiselect {
    background-color: var(--surface-hover);
    border: 1px solid var(--surface-border);
}

.p-multiselect-panel, .p-multiselect-header {
    background-color: var(--surface-overlay);
}

.p-multiselect-header {
    padding: 0.5rem 0.75rem;
}

.p-multiselect-panel {
    border: 1px solid var(--surface-border);
}

.p-multiselect-label {
    color: var(--surface-900);
}

.p-multiselect-item {
    color: var(--surface-900);
}

.p-multiselect-item.p-focus {
    color: #fff;
    background-color: var(--primary-color);
}

.p-fileupload-buttonbar {
    background-color: var(--surface-overlay);
    border: 1px solid var(--surface-border);
}

.p-fileupload-content {
    background-color: var(--surface-overlay);
    border: 1px solid var(--surface-border);
}

.p-progressbar-determinate {
    background-color: var(--surface-border);
}

.p-fileupload-file {
    border: 1px solid var(--surface-border);
}

.p-fileupload-file-details {
    color: var(--surface-900)
}
