h1,h2,h3,h4,h5,h6,p,label {
    color: var(--main-color);
}
.bg-success {
    background-color: #2dce89 !important;
}

.form-check-input{
    &:focus {
        border-color: var(--brand-color) !important;
        outline: 0;
        box-shadow: none;
    }
    &:checked {
        background-color: var(--brand-color) !important;
        border-color: var(--brand-color) !important;
    }
}
.content {
    padding: 40px;
    border-radius: 15px;
    background-color: var(--body-bg-secondary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
